@{
    ViewBag.Title = "Upload";
}

<div class="container-fluid appheader">
    <div class="row">
        <div class="col-xs-12">
            <h1><a class="unstyled-link" href="/Home">OpenWebVDX</a></h1>
            <div class="col-xs-10 col-xs-offset-1">
                <span>
                    OpenWebVDX is a cloud based HTML5 video exchange app.  Enjoy lightning fast
                    uploads and streaming from any device, anywhere.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid appnav">
    <div class="row">
        <div class="col-xs-6 col-sm-2 appnav-item">
            <a class="unstyled-link" href="/home">
                <span style="font-size:30px" class="glyphicon glyphicon-home"></span>
                <br />
                <br />
                <span>Home</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 appnav-item">
            <a class="unstyled-link" href="#">
                <span style="font-size:30px" class="glyphicon glyphicon-search"></span>
                <br />
                <br />
                <span>Search</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 appnav-item">
            <a class="unstyled-link" href="#">
                <span style="font-size:30px" class="glyphicon glyphicon-globe"></span>
                <br />
                <br />
                <span>Browse</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 appnav-item">
            <a class="unstyled-link" href="#">
                <span style="font-size:30px" class="glyphicon glyphicon-envelope"></span>
                <br />
                <br />
                <span>Messages</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 appnav-item">
            <a class="unstyled-link" href="#">
                <span style="font-size:30px" class="glyphicon glyphicon-user"></span>
                <br />
                <br />
                <span>Connections</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 appnav-item">
            <a class="unstyled-link" href="#">
                <span style="font-size:30px" class="glyphicon glyphicon-random"></span>
                <br />
                <br />
                <span>Exchange</span>
            </a>
        </div>
    </div>
</div>
<div class="container appupload">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div id="loading" style="display:none">
                <img src="@Url.Content("~/Content/themes/base/images/vdx-uploader.gif")" />
            </div>
            <div>
                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="4194304" />
                <button id="vid_select_btn">Select A Video</button>
                <input type="file" id="fileselect" style="visibility:hidden;position:absolute;left:-50;top:-50;" />
                <div id="filedrag"><div style="margin-top:65px;">or place one here</div></div>
            </div>
            <div id="submitbutton">
                <button type="submit">Upload Files</button>
            </div>
            <div id="messages">
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Upload.js")
<!-- Return to top nav-->
<div class="container-fluid appnav">
    <div class="row">
        <div class="col-xs-12 appnav-item">
            <a class="unstyled-link" id="to_top" href="">
                <span style="font-size:30px" class="glyphicon glyphicon-arrow-up"></span>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#to_top").click(function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0}, 'fast');
    });
</script>