@{
    ViewBag.Title = "Upload";
}

<div class="container-fluid appheader">
    <div class="row">
        <div class="col-xs-12">
            <h1><a class="unstyled-link" href="/Home">OpenWebVDX</a></h1>
            <div class="col-xs-10 col-xs-offset-1">
                <span>
                    OpenWebVDX is a cloud based HTML5 video exchange app.  Enjoy lightning fast
                    uploads and streaming from any device, anywhere.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container appupload">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div id="loading" style="display:none">
                <img src="@Url.Content("~/Content/themes/base/images/vdx-uploader.gif")" />
            </div>
            <div>
                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="4194304" />
                <button id="vid_select_btn">Select A Video</button>
                <input type="file" id="fileselect" style="visibility:hidden;position:absolute;left:-50;top:-50;" />
                <div id="filedrag"><div style="margin-top:65px;">or place one here</div></div>
            </div>
            <div id="submitbutton">
                <button type="submit">Upload Files</button>
            </div>
            <div id="messages">
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Upload.js")